@use "../utils/" as *;

// =============== General CSS ===============

.d-flex {
    display: flex;
}

.d-grid{
    display: grid;
}

.d-none {
    display: none;
}

.d-block{
    display: block;
}

.d-l-none {
    display: none;
}

.d-m-none {
    display: none;
}

.f-column {
    flex-direction: column;
}

.flex-wrap{
    flex-flow: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.align-start {
    align-items: start;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.fix {
    overflow: hidden;
}

.fix-x {
    overflow-x: hidden;
}

.fix-y {
    overflow-y: hidden;
}

.clear{
    clear: both;
}

.m-l-auto{
    margin-left: auto;
}

.m-r-auto{
    margin-right: auto;
}

.m-inline{
    margin-inline: auto;
}

.mt-0{
    margin-top: 0;
}

.mb-0{
    margin-bottom: 0;
}

.ml-0{
    margin-left: 0;
}

.mr-0{
    margin-right: 0;
}

.col {
    width: 100%;
    padding: 0 15px;
}

.col-2 {
    width: 16.66%;
    float: left;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.col-5 {
    width: 41.66%;
    float: left;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.col-7 {
    width: 58.47%;
    float: left;
    padding: 0 15px;
}

.col-8 {
    width: 66.66%;
    float: left;
    padding: 0 15px;
}

.col-9 {
    width: 75%;
    float: left;
    padding: 0 15px;
}

.col-10 {
    width: 83.33%;
    float: left;
    padding: 0 15px;
}

.col-11 {
    width: 91.74%;
    float: left;
    padding: 0 15px;
}

.col-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}