@use "../utils/" as *;
@use "general" as *;
@use "global" as *;

/* -------------------------------------
    X-Large Screen 1920px & Above
------------------------------------- */
@media (min-width:1360px) {
    .container{
        width: 1280px;
    }

    .collection{
        .container{
            width: 1122px;
        }
    }

    .works{
        .container{
            width: 1044px;
        }
        .page-works-container{
            width: 1280px;
        }
    }
}



/* -------------------------------------
        Large Screen 1440px
------------------------------------- */
@media (max-width:1360px){
}



/* -------------------------------------
        Medium Screen 1200px
------------------------------------- */
@media (max-width:1200px){
}



/* -------------------------------------
        Tablet Device 960px
------------------------------------- */
@media (max-width:960px){
    section{
        margin-bottom: 10rem;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
      width: 100%;
    }

    .container {
        padding: 0 4rem;
    }
}




/* -------------------------------------
        Mobile Device 768px
------------------------------------- */
@media (max-width:768px){
    body,
    p,
    ol,
    li,
    ul {
        font-size: 1.6rem !important;
    }
    .container {
        padding: 0 2rem;
    }
    .overlay{
        position: absolute;
            top: 10rem;
            left: 2rem;
            right: 2rem;
            height: 100vh;
            visibility: hidden;
            opacity: 0;
            background-image: linear-gradient(to bottom, $color-light, transparent);
            transition: all .4s ease;
            z-index: 9;
    
        &.active{
            visibility: visible;
            opacity: 1;
        }
    }

}





/* -------------------------------------
        Small Device 480px
------------------------------------- */
@media (max-width:480px){
}