@use "../utils/" as *;
@use "../global" as *;

// Works Desktop
.works{
    .works-title{
        margin-bottom: 8rem;

        .line{
            position: relative;
            display: block;
            width: 75%;
            height: 2px;
            background-color: $color-light-orange;
        }

        .circle1{
            position: absolute;
            top: -1.4rem;
            left: 0;
            width: 3rem;
            height: 3rem;
            border: 2px solid $color-primary;
            border-radius: 10rem;
            background-color: $color-bg;
        }

        .circle2{
           position: absolute;
            top: -1.4rem;
            left: 50%;
            transform: translateX(-50%);
            width: 3rem;
            height: 3rem;
            border: 2px solid $color-primary;
            border-radius: 10rem;
            background-color: $color-bg;
        }
        .circle3{
           position: absolute;
            top: -1.4rem;
            right: 0;
            width: 3rem;
            height: 3rem;
            border: 2px solid $color-primary;
            border-radius: 10rem;
            background-color: $color-bg;
        }
        h2{
            margin-bottom: 7rem;
            font-size: 2.6rem;
            color: $color-grey;
        }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 6rem;
    }

    &__single{
        padding-right: 8rem;
        strong{
            font-size: 7.2rem;
            font-weight: $black;
            font-family: $f-f-fraunces;
            color: $color-light-orange;
            margin-bottom: 4rem;
            display: block;
        }

        h4{
            font-size: 3.4rem;
            font-weight: $black;
            margin-bottom: 4rem;
        }
        p{
            color: $color-secondary;
        }
    }

    &__btn{
        margin-top: 8rem;
    }
}


// Works Lg
@include lg{
    .works{

        &__single{
            padding-right: 0;
            h4{
                padding-right: 10rem;
            }
        }
    }
}



// Works Tablet
@include tablet{
    .works{

        .works-title{
            .line{
                width: 75%;
            }
        }

        &__wrapper{
            grid-gap: 4rem;
        }

        &__single{
            h4{
                font-size: 3rem;
                padding-right: 2rem;
            }
        }
    }
}



// Works Mobile
@include mobile{
    .works{

        .works-title{
            text-align: center;

            .line{
                display: none;
            }
        }

        &__wrapper{
            grid-template-columns: 1fr;
            grid-gap: 4rem;
        }

        &__single{
            text-align: center;
            h4{
                font-size: 3rem;
                padding-right: 0;
            }
        }

        &__btn{
            text-align: center;
            margin: 4rem auto;
        }
    }
}
